@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <div class="container">
            <div class="row mt-5">
             <h1>CMS Page</h1>
            </div>
      <div class="row mt-5">
           <div class="col-6">
            <div class="form-group has-search">
             <span class="bi bi-search form-control-feedback"></span>
             <input type="text" class="form-control" placeholder="Search">
            </div>
           </div>
           <div class="col-6 text-end">
            <a type="button" class="btn btn-outline-warning border rounded-pill"><i class="bi bi-plus"></i>&nbsp;Add</a>
           </div>
          </div>
          <div class="container" style="height:568px;">

          <table class="w-100 py-3 table h-100 mt-5">
          <thead>
           <tr class="mb-3">
            <th scope="col">Title</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
           </tr>
           </thead>
           <tbody>
           <tr class="mb-3">
            <td scope="col">Desktop publishing software like Aldus PageMaker including versions the leap into electronic typesetting.</td>
            <td scope="col" class="text-success">Active</td>
            <td scope="col"><i class="bi bi-pencil-square"></i>&nbsp;<i class="bi bi-trash3"></i></td>
           </tr>
           <tr class="mb-3">
            <td scope="col">Various versions have evolved over the years Many desktop publishing packages and web page editors.</td>
            <td scope="col" class="text-success">Active</td>
            <td scope="col"><i class="bi bi-pencil-square"></i>&nbsp;<i class="bi bi-trash3"></i></td>
           </tr>
           <tr class="mb-3">
            <td scope="col">A Latin professor at Hampden-Sydney College in Virginia</td>
            <td scope="col" class="text-success">Active</td>
            <td scope="col"><i class="bi bi-pencil-square"></i>&nbsp;<i class="bi bi-trash3"></i></td>
           </tr>
           <tr class="mb-3">
            <td scope="col">Suffered alteration in some form,  by injected humour or randomised words.</td>
            <td scope="col" class="text-success">Active</td>
            <td scope="col"><i class="bi bi-pencil-square"></i>&nbsp;<i class="bi bi-trash3"></i></td>
           </tr>
           <tr class="mb-3">
            <td scope="col">Et Harum quidem rerum facils ast et ezxpedita very popular during the Renaissance.</td>
            <td scope="col" class="text-success">Active</td>
            <td scope="col"><i class="bi bi-pencil-square"></i>&nbsp;<i class="bi bi-trash3"></i></td>
           </tr>
           <tr class="mb-3">
            <td scope="col">Maiores alias consequatur aut perfereedis doloribus asperios repellat.</td>
            <td scope="col" class="text-success">Active</td>
            <td scope="col"><i class="bi bi-pencil-square"></i>&nbsp;<i class="bi bi-trash3"></i></td>
           </tr>
           </tbody>
          </table>
          </div>

    </div>
}
