@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
       <div class="container">
     <div class="row mt-5">
     <h1>Mission Application</h1>
     </div>
      <div class="row mt-5">
           <div class="col-6">
            <div class="form-group has-search">
             <span class="bi bi-search form-control-feedback"></span>
             <input type="text" class="form-control" placeholder="Search">
            </div>
           </div>
           <div class="col-6 text-end">
            <a type="button" class="btn btn-outline-warning border rounded-pill"><i class="bi bi-plus"></i>&nbsp;Add</a>
           </div>
          </div>
          <div class="container" style="height:568px;">

          <table class="w-100 py-3 table h-100 mt-5">
          <thead>
           <tr class="mb-3">
            <th scope="col">Mission Title</th>
            <th scope="col">Mission Id</th>
            <th scope="col">User Id</th>
            <th scope="col">User Name</th>
            <th scope="col">Application Date</th>
            <th scope="col">Action</th>
           </tr>
           </thead>
           <tbody>
           <tr class="mb-3">
            <td scope="col">Desktop publishing software</td>
            <td scope="col">123</td>
            <td scope="col">456</td>
            <td scope="col">Nandani Patel</td>
            <td scope="col">15/02/2019</td>
            <td scope="col"><i class="bi bi-check-circle text-success"></i>&nbsp;<i class="bi bi-x-circle text-danger"></i></td>
           </tr>
           <tr class="mb-3">
            <td scope="col">Various versions have evolved over</td>
            <td scope="col">789</td>
            <td scope="col">753</td>
            <td scope="col">Simran Pandita</td>
            <td scope="col">30/05/2019</td>
            <td scope="col"><i class="bi bi-check-circle text-success"></i>&nbsp;<i class="bi bi-x-circle text-danger"></i></td>
           </tr>
           <tr class="mb-3">
            <td scope="col">A Latin professor at Hampden-Sydney</td>
            <td scope="col">951</td>
            <td scope="col">456</td>
            <td scope="col">Sunaina Atri</td>
            <td scope="col">20/06/2020</td>
            <td scope="col"><i class="bi bi-check-circle text-success"></i>&nbsp;<i class="bi bi-x-circle text-danger"></i></td>
           </tr>
           <tr class="mb-3">
            <td scope="col">Suffered alteration in some form</td>
            <td scope="col">159</td>
            <td scope="col">123</td>
            <td scope="col">Kajal Katariya</td>
            <td scope="col">24/07/2020</td>
            <td scope="col"><i class="bi bi-check-circle text-success"></i>&nbsp;<i class="bi bi-x-circle text-danger"></i></td>
           </tr>
           <tr class="mb-3">
            <td scope="col">Et harum quidem rerum faciilis est</td>
            <td scope="col">486</td>
            <td scope="col">359</td>
            <td scope="col">Neha Vaghela</td>
            <td scope="col">06/06/2021</td>
            <td scope="col"><i class="bi bi-check-circle text-success"></i>&nbsp;<i class="bi bi-x-circle text-danger"></i></td>
           </tr>
           <tr class="mb-3">
            <td scope="col">Et harum quidem rerum faciilis est</td>
            <td scope="col">134</td>
            <td scope="col">963</td>
            <td scope="col">Vidhi Macwan</td>
            <td scope="col">14/06/2021</td>
            <td scope="col"><i class="bi bi-check-circle text-success"></i>&nbsp;<i class="bi bi-x-circle text-danger"></i></td>
           </tr>
           </tbody>
          </table>
          </div>

    </div>
}
