@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <div class="container">
     <div class="row mt-5">
     <h1>Mission Application</h1>
     </div>
      <div class="row mt-5">
           <div class="col-6">
            <div class="form-group has-search">
             <span class="bi bi-search form-control-feedback"></span>
             <input type="text" class="form-control" placeholder="Search">
            </div>
           </div>
           <div class="col-6 text-end">
            <a type="button" class="btn btn-outline-warning border rounded-pill"><i class="bi bi-plus"></i>&nbsp;Add</a>
           </div>
          </div>
          <div class="container" style="height:568px;">

          <table class="w-100 py-3 table h-100 mt-5">
          <thead>
           <tr class="mb-3">
            <th scope="col">Story Title</th>
            <th scope="col">Full Name</th>
            <th scope="col">Mission Title</th>
            <th scope="col">Action</th>
           </tr>
           </thead>
           <tbody>
           <tr class="mb-3">
            <td scope="col">Desktop publishing software also the leap into</td>
            <td scope="col">Nandani Patel</td>
            <td scope="col">Desktop publishing software</td>
            <td scope="col">
            <button type="button" class="btn btn-outline-warning border rounded-pill">View</button>&nbsp;
            <i class="bi bi-check-circle text-success"></i>&nbsp;
            <i class="bi bi-x-circle text-danger"></i>&nbsp;
            <i class="bi bi-trash3"></i></td>
           </tr>
           <tr class="mb-3">
            <td scope="col">Various versions have evolved over sometimes</td>
            <td scope="col">Simran Pandita</td>
            <td scope="col">Various versions have evolved over </td>
            <td scope="col">
            <button type="button" class="btn btn-outline-warning border rounded-pill">View</button>&nbsp;
            <i class="bi bi-check-circle text-success"></i>&nbsp;
            <i class="bi bi-x-circle text-danger"></i>&nbsp;
            <i class="bi bi-trash3"></i></td>
            
           </tr>
           <tr class="mb-3">
            <td scope="col">A Latin professor at Hampden-Sydney like Aldus PageMaker i</td>
            <td scope="col">Sunaina Atri</td>
            <td scope="col">A Latin professor at Hampden-Sydney</td>
            <td scope="col">
            <button type="button" class="btn btn-outline-warning border rounded-pill">View</button>&nbsp;
            <i class="bi bi-check-circle text-success"></i>&nbsp;
            <i class="bi bi-x-circle text-danger"></i>&nbsp;
            <i class="bi bi-trash3"></i></td>
           </tr>
           <tr class="mb-3">
            <td scope="col">Suffered alteration in some form still in their infancy.</td>
            <td scope="col">Kajal Katariya</td>
            <td scope="col">Suffered alteration in some form</td>
            <td scope="col">
            <button type="button" class="btn btn-outline-warning border rounded-pill">View</button>&nbsp;
            <i class="bi bi-check-circle text-success"></i>&nbsp;
            <i class="bi bi-x-circle text-danger"></i>&nbsp;
            <i class="bi bi-trash3"></i></td>
           </tr>
           <tr class="mb-3">
            <td scope="col">Et harum quidem rerum faciilis est make a type specimen book</td>
            <td scope="col">Neha Vagela</td>
            <td scope="col">Et harum quidem rerum faciilis est </td>
            <td scope="col">
            <button type="button" class="btn btn-outline-warning border rounded-pill">View</button>&nbsp;
            <i class="bi bi-check-circle text-success"></i>&nbsp;
            <i class="bi bi-x-circle text-danger"></i>&nbsp;
            <i class="bi bi-trash3"></i></td>
           </tr>
           <tr class="mb-3">
            <td scope="col">Maicos alias consequatur aut doloribus asperious repellat</td>
            <td scope="col">Vidhi Macwan</td>
            <td scope="col">Maicos alias consequatur aut</td>
               <td scope="col">
            <button type="button" class="btn btn-outline-warning border rounded-pill">View</button>&nbsp;
            <i class="bi bi-check-circle text-success"></i>&nbsp;
            <i class="bi bi-x-circle text-danger"></i>&nbsp;
            <i class="bi bi-trash3"></i></td>
           </tr>
           </tbody>
          </table>
          </div>

    </div>
}
