@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
         <div class="container">
          <div class="row py-5">
           <h1>User</h1>
          </div>
         </div>
         <div class="container">
          <div class="row">
           <div class="col-6">
            <div class="form-group has-search">
             <span class="bi bi-search form-control-feedback"></span>
             <input type="text" class="form-control" placeholder="Search">
            </div>
           </div>
           <div class="col-6 text-end">
            <button type="button" class="btn btn-outline-warning border rounded-pill"><i class="bi bi-plus"></i>&nbsp;Add</button>
           </div>
          </div>
         </div>
         <div class="container" style="height:568px;">

          <table class="w-100 py-3 table h-100 mt-5">
          <thead>
           <tr class="mb-3">
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Employee Id</th>
            <th scope="col">Department</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
           </tr>
           </thead>
           <tbody>
           <tr class="mb-3">
            <td scope="col">Adam</td>
            <td scope="col">Baldwin</td>
            <td scope="col">Adam12546@yahs.com</td>
            <td scope="col">1364978456</td>
            <td scope="col">HR</td>
            <td class="text-success" scope="col">Active</td>
            <td scope="col"><i class="bi bi-pencil-square"></i>&nbsp;<i class="bi bi-trash3"></i></td>
           </tr>
           <tr class="mb-3">
            <td scope="col">Adam</td>
            <td scope="col">Baldwin</td>
            <td scope="col">Adam12546@yahs.com</td>
            <td scope="col">1364978456</td>
            <td scope="col">HR</td>
            <td class="text-success" scope="col">Active</td>
            <td scope="col"><i class="bi bi-pencil-square"></i>&nbsp;<i class="bi bi-trash3"></i></td>
           </tr>
           <tr class="mb-3">
            <td scope="col">Adam</td>
            <td scope="col">Baldwin</td>
            <td scope="col">Adam12546@yahs.com</td>
            <td scope="col">1364978456</td>
            <td scope="col">HR</td>
            <td class="text-success" scope="col">Active</td>
            <td scope="col"><i class="bi bi-pencil-square"></i>&nbsp;<i class="bi bi-trash3"></i></td>
           </tr>
           <tr class="mb-3">
            <td scope="col">Adam</td>
            <td scope="col">Baldwin</td>
            <td scope="col">Adam12546@yahs.com</td>
            <td scope="col">1364978456</td>
            <td scope="col">HR</td>
            <td class="text-success" scope="col">Active</td>
            <td scope="col"><i class="bi bi-pencil-square"></i>&nbsp;<i class="bi bi-trash3"></i></td>
           </tr>
           <tr class="mb-3">
            <td scope="col">Adam</td>
            <td scope="col">Baldwin</td>
            <td scope="col">Adam12546@yahs.com</td>
            <td scope="col">1364978456</td>
            <td scope="col">HR</td>
            <td class="text-success" scope="col">Active</td>
            <td scope="col"><i class="bi bi-pencil-square"></i>&nbsp;<i class="bi bi-trash3"></i></td>
           </tr>
           <tr class="mb-3">
            <td scope="col">Adam</td>
            <td scope="col">Baldwin</td>
            <td scope="col">Adam12546@yahs.com</td>
            <td scope="col">1364978456</td>
            <td scope="col">HR</td>
            <td class="text-success" scope="col">Active</td>
            <td scope="col"><i class="bi bi-pencil-square"></i>&nbsp;<i class="bi bi-trash3"></i></td>
           </tr>
           </tbody>
          </table>
          </div>
}
